#MenuBar {
    position: relative;
    padding: 0px;
    display: block;
    background-color: rgba(22, 22, 22, 1);
}

#MenuBar > ul {
    position: relative;
    display:  inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#MenuBar > ul > li {
    display: inline-block;
    padding: 8px;
}

#MenuBar ul li {
    list-style: none;
    text-indent: 0px;
}

#MenuBar ul ul {
    display: none;
    position: absolute;
    background-color: rgb(12, 12, 12);
    padding: 0px;
}

#MenuBar ul li:hover ul,
#MenuBar ul li:focus ul,
#MenuBar ul li:active ul {
    display: block;
}

#MenuBar a {
    display: block;
    color: #e6e6e6;
    padding: 8px;
    text-decoration: none;
}

#MenuBar a:hover {
    background-color: rgb(2, 2, 2);
    color: #e6e6e6;
}

#MenuBar ul ul li a:hover {
    background-color: rgb(2, 2, 2);
    color: #e6e6e6;
}